@model AlertWithPayments

<h4 class="border-top border-offset">Buyer: </h4>
<h3>Name: @Model.Alert.PaymentId.Order.BuyerName</h3>
<h3>Billing country: <span class="cm-flag cm-flag-@Model?.Alert.PaymentId.Order.BuyerBillingCountry" aria-hidden="true"></span> @Model.Alert.PaymentId.Order.BuyerBillingCountry</h3>
<h3>Shipping country: <span class="cm-flag cm-flag-@Model?.Alert.PaymentId.Order.BuyerShippingCountry" aria-hidden="true"></span> @Model.Alert.PaymentId.Order.BuyerShippingCountry</h3>
<br />

<h4 class="border-top border-offset">Orders: </h4>

@{var orderlist = Model.Payments.Select(p => p.Order.Id).Distinct().ToList();}

@* calculate conversion to euros *@
@{decimal totalAmount = 0;}
@foreach (Payment p in Model.Payments)
{
    foreach (long orderId in orderlist)
    {
        if (orderId == p.Order.Id)
        {
            totalAmount += p.Order.Amount * (decimal)p.Order.CurrencyNavigation.ExchangeRateToEuro;

        }
    }
}


<h3>Total amount in euros: €@($"{@totalAmount:N2}")</h3>

@{ int counter = 1;}
@* Show all seperate orders *@
<table class="table table-striped table-hover table-responsive-md table-responsive-sm col-lg-12">
    <thead>
    <tr>
        <th>#</th>
        <th>Buyer name</th>
        <th>Buyer country</th>
        <th>Amount in original currency</th>
        
    </tr>
    </thead>
    <tbody>
    @foreach (Payment p in @Model.Payments)
    {
        <tr>
            <td>@counter</td>
            <td>@p.Order.BuyerName</td>
            <td><span class="cm-flag cm-flag-@p.Order.BuyerBillingCountryNavigation.IsoCode" aria-hidden="true"></span> @p.Order.BuyerBillingCountry</td>
            <td>@($"{@p.Order.Amount:N2}") @p.Order.Currency</td>
        </tr>
        <tr>
            <td>Description:</td>
            <td colspan="5">@(p.Order.Description ?? "No description available")</td>
        </tr>

        counter++;
    }
    </tbody>
</table>

@* Show all Payments*@

<br />
<h4 class="border-top border-offset">Payments</h4>
<br />

@{ counter = 1;}
<table class="table table-striped table-hover table-responsive-sm table-responsive-md table-responsive-xl col-lg-12">
    <thead>
        <tr>
            <th>#</th>
            <th>State</th>
            <th>Amount in original currency</th>
            <th>Payment method</th>
            <th>Merchant name</th>
            <th>Account manager</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Payment p in @Model.Payments)
        {
            <tr>
                <td>@counter</td>
                <td>@p.Status</td>
                <td>@($"{@p.MerchantAmount:N2}") @p.Order.Currency</td>
                <td>@p.PaymentMethodNavigationId</td>
                <td>@p.Order.Merchant?.Name</td>
                <td>@p.Order.Merchant?.Organization?.AccountManagerName</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td colspan="5">@(p.Order.Description ?? "No description available")</td>
            </tr>

            counter++;
        }
    </tbody>
</table>

